/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
	background: linear-gradient(rgba(84, 93, 220, .5),rgba(96, 171, 245, .5)),url(../imagenes/background.jpg) left no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
height: 100%;
font-family: 'Numans', sans-serif;
}
header{
	height: 8vh;
	background-color: rgba(0,0,0,0.9) !important;
}

nav ul{
    display: flex;
    /*Deja al primer elemento al principio y los otros al final*/
	justify-content: space-between;
	padding-top: 15px;
}
.container .login img{
	display: block;
	margin: 0;
	width: 18vh;
	height: 18vh;
}
nav ul li {
    /*Se le quitan los puntos a la lista que hicimos como menu*/
    list-style: none;
	margin-right: 23px;
	margin-top: 0px;
	font-weight: bold;
	
}
.contenedor{
	width: 90%;
    max-width: 1300px;
    margin: auto;
}
.contenedor .logo{
	color:white;
	padding-top: 14px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 0px;
}
nav .item{
	color: #fff;
}
#navegacion{
	display: flex;
	justify-content: space-between;

}
img{
	position: relative;
	left:34%;
	top:6px;
	width:140px;
	height:100px;
}
.container{
	height: 76%;
	align-content: center;
}

.card{
height: 470px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,12,0,0.8) !important;
text-align: center;
font-weight: bold;
}


.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #26C9B5;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #26C9B5;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}